$principal-font : 'Poppins', sans-serif;
$text-size: 16px;

.buttom{
    width: 11rem;
    font-family: $principal-font;
    background-color: #4088BD;
    color: #ffffff;
    font-size: $text-size;
    border-radius: 30px;
    border: none;
}

@media screen and(max-width: 600px){
    .buttom{
        font-size: 12px;
    }
}