@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$principal-font : 'Poppins', sans-serif;
$text-size: 16px;

.categories{
    background-color: beige; 

    
    &__title{
        background-color: beige; 
        width: 100%; 
        height: 10vh;
        font-size: 35px;
        align-items: center;
        padding: 10px;
        text-align: center;
    }

    &__container{
        background-color: beige; 
        width: 100%; height: 90vh;
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 102px;
        padding-left: 102px;

    }

    &__div{

        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        
    }

    &__element{
        padding: 15px;
        background-size: cover;
        background-position: center;
        

        &--bandeja{
            background-image: url("./../../data/img/back-bandejas.jpeg");
            width: 100%;
            flex-grow: 2;
            /* Arriba | Derecha | Abajo | Izquierda */
            margin: 15px 0 7.5px 15px;
        }
    
        &--ancheta{
            background-image: url("./../../data/img/back-anchetas.jpeg");
            width: auto;
            flex-grow: 1;  
             /* Arriba | Derecha | Abajo | Izquierda */
             margin: 7.5px 0 15px 15px;
             }
    
        &--desayuno{
            background-image: url("./../../data/img/back-desayunos.jpeg");
            width: auto;
            flex-grow: 1;  
             /* Arriba | Derecha | Abajo | Izquierda */
             margin: 7.5px 0 15px 15px;
        }
    
        &--merienda{
            background-image: url("./../../data/img/back-meriendas.jpeg");
            height: auto;
            width: 100%;
            margin: 15px;
        }
    }
    





    
}


@media screen and(max-width: 600px) {
    .categories{
        height: 120vh;
        &__title{
            height: 5%;
            font-size: 27px;
        }

        &__container{
            padding: 26px 51px;
            height: 95%;

        }

        &__div{
            flex-direction: column-reverse ;
            width: 100%;
            height: 50%;
            flex-wrap: nowrap;

            &--first{
                display: flex;
                flex-direction: unset;
                flex-wrap: wrap;
            }
        }

        &__element{
            &--bandeja{
                width: 100%;
                height: auto;
                margin-right: 15px;
            }

            &--ancheta{
                width: 42.5%;
                padding: 0;
                height: auto;
                margin-right: 7.5px;

            }

            &--desayuno{

                width: 42.5%;
                padding: 0;
                height: auto;
                margin-left: 0;
                margin-right: 15px;
            }

            &--merienda{
                width: auto;
                height: 100%;
                padding: 0;
            }
        }
    }
}