/*Elementos del Footer*/

footer{
    width: auto;
    height: 60vh;
}

.footer{
    background-color: bisque;
   

    &__section{
        height: 60%;
        display: flex;
        flex-direction: row;
        margin-left: 6.375rem;
        margin-right: 6.375rem;
    
        & li::marker{
            display: none;
        }

        &--list {
        display: table-cell;
        }
    }

    &__items{
        width: 33%;
    }
   

    &__img{
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        

        & img{
            object-fit: contain;
            max-width: 100%;
            padding: 1rem;
            height: 100%;
        }

        
    }
}