/*Elementos del Footer*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$principal-font : 'Poppins', sans-serif;
$text-size: 16px;

footer{
    width: auto;
    font-family: $principal-font;
    
}

.footer{
    background-color: bisque;

    & p{
        font-size: $text-size;
    }
   

    &__section{

        width: auto;
        display: flex;
        flex-direction: row;
        padding-left: 6.375rem;
        padding-right: 6.375rem;
        padding-top: 3.188rem;

        & li{
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            display: flex;
            object-fit: contain;

            p{
                align-items: center;
                padding-left: 0.5rem;
            }

            img{
                height: fit-content;
            }
        }
    
        & ul{
            list-style-type: none;
        }

        
    }

    &__items{
        width: 33%;

        & h3{
            font-size: 24px;
            padding-bottom: 2rem;;
        }

        &--list ul{
            display: table-cell;

            li{
                padding-right: 1.5rem;
            }
            
            a {
                font-size: $text-size;
                text-decoration: none;
                color: rgb(61, 15, 15);
            }
            
            }
    }
   

    &__img{
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        

        img{
            object-fit: contain;
            max-width: 100%;
            padding: 1rem;
            height: 100%;
        }

        
    }
}

@media screen and(max-width: 600px) {
    .footer{
        &__section{
            flex-direction: column;
            padding-left: 3.188rem;
            padding-right: 3.188rem;
            padding-top: 1.594rem;

            p{
                display: flex;
            }
        }  
        
        &__items{
            width: 100%;
        }


    }

}