$principal-font : 'Poppins', sans-serif;
$secundary-font : 'Lily Script One', cursive;
$text-size: 16px;

.landing {
    padding-left: 6.375rem;
    padding-right: 6.375rem;
    display: flex;
    flex-direction: row;
    height: auto;

    &__contact{
        display: none;
        width: 5%;
        justify-content: center;
        position: relative;
        height: auto;

        ul{
            &:first-child{
                width: 50%;    
            }
        }
        
        
        
    
    }

    &__content{
        width: 47.5%;
        text-align: center;
        color: seashell;

        h2{
            font-family: $secundary-font;
            font-size: 35px;
            padding-top: 6.375rem;
            padding-left: 6.375rem;
            padding-right: 6.375rem;
        }

        p{
            font-size: 20px;
            padding-top: 3.188rem;
            padding-left: 6.375rem;
            padding-right: 6.375rem;
            padding-bottom: 6.375rem;
        }
    }

    &__img{
        width:47.5%;

        img{
            max-width: 80%;
        }
    }
}

@media screen and(max-width: 600px){

    .landing{
        height: 80%;
        object-fit: contain;
        padding:   1.594rem 3.188rem;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;

        &__contact{
            display: none;
        }

        &__content{
            width: 100%;
            h2{
                font-size: 27px;
                padding: 10px;
            }
    
            p{
                font-size: 16px;
                padding: 10px;
            }
        }

        &__img{
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 10px;
            img{

            }
        }


    }
}

