@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$principal-font : 'Poppins', sans-serif;
$text-size: 16px;

.landing {
    padding-left: 6.375rem;
    padding-right: 6.375rem;
    display: flex;
    flex-direction: row;

    &__contact{
        width: 5%;
        display: flex;
        align-items: flex-end;
        position: relative;

        ul{
            height: 100%;
        }

        hr {
            transform: rotate(90deg);
            border: 10px;
            border-color: white;
            //width: 80px;
        }
    }

    &__content{
        width: 47.5%;
        text-align: center;
        color: seashell;
    }

    &__img{
        width:47.5%;

        img{
            max-width: 80%;
        }
    }
}