@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$principal-font : 'Poppins', sans-serif;
$text-size: 16px;

.products{
    height: 100vh;
    width: auto;
    background-color: beige;
    padding: 51px 102px;

    &__title{
        font-size: 35px;
        align-items: center;
        padding: 10px;
        text-align: center;
        height: 8%;
    }

    &__section{

        width: 100%;
        height: 42%;
        display: flex;
        flex-direction: row;
        padding: 15px;
        justify-content: space-evenly;
    }

    &__item{
        width: 33%;
        height: 100%;
        margin-right: 51px;
        position: relative;
        align-self: flex-end;
        background-position: center;
        background-size: cover;

        &--number1{
background-image: url('./../../data/img/product1.jpeg');            
        }

        &--number2{
background-image: url('./../../data/img/product2.jpeg');
        }

        &--number3{
background-image: url('./../../data/img/product3.jpeg');
        }

        &--number4{
background-image: url('./../../data/img/product4.jpeg');
        }

        &--number5{
background-image: url('./../../data/img/product5.jpeg');
        }

        &--number6{
background-image: url('./../../data/img/product6.jpeg');
        }
    }

    &__options{
        position: absolute;
        bottom: 0%;
        width: 100%;
        height: 15%;
        background-color: beige;
        display: flex;
        flex-direction: row;
        object-fit: contain;
        justify-content: space-between;
        align-items: center;
        padding: 7px;

        img{
            width: auto;
            height: 100%;
        }
    }
}