@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$principal-font : 'Poppins', sans-serif;
$text-size: 16px;

.products{
    height: 100vh;
    width: auto;
    background-color: beige;
    padding: 51px 102px;

    &__title{
        font-size: 35px;
        align-items: center;
        padding: 10px;
        text-align: center;
    }

    &__section{
        background-color:blue;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    &__item{

    }
}