.sort{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;

    select{
        border: none;
        background: none;
        option{

        }
    }
}