@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$principal-font : 'Poppins', sans-serif;
$text-size: 16px;

.values{

    height: 60vh;
    width: auto;
    padding-right: 102px;
    padding-left: 102px;
    background-color: beige; 


    &__title{
        height: 15%;
        font-size: 35px;
        align-items: center;
        padding: 10px;
        text-align: center;
    }

    &__father{
        height: 70%;
        overflow: hidden;
    }

    &__stripe {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        transition: transform .35s ease-in-out;
        
    }

    &__items{
        height: 100%;
        position: relative;

        &--entrega{
            img{
                padding-top: 20%;
            }
        }

         p{
            font-family: $principal-font;
            font-size: 24px;
            position: absolute;
            text-align: center;
            bottom: 0;
        }
    }

}

@media screen and(max-width: 600px) {
    .values{

        padding-right: 51px;
        padding-left: 51px;
        overflow: hidden;

        &__title{
            font-size: 27px;
        }

        &__stripe{
            display: block;
            width: 100%;
        }

        &__items{
            display: flex;
            width: 100%;
            transition: transform .6s ease;
            object-fit: contain;
            justify-content: center;
            align-content: space-between;
            
        img {
            max-width: 50%;
            height: 70%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        p {
            margin:10px;
            }
        }
        
    }
    
}