@import '_reset.scss';

body{
    width: 100%;
    height: 100vh;
    background-color: #EAF8FF;
    position: relative;
    font-family:  'Poppins', sans-serif;
    
    ::-webkit-scrollbar {
        display: none;
    }
}

.titles{

    display: flex;
    justify-content: space-between;
    height: 18%;
    
    section{
        width: 24.5%;
        height: 100%;
        background-color: white;
        font-size: 20px;
        padding: 16px;
        box-shadow: 3px 3px 8px gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 60px;
            height: 60px;
        }


    }

    &__cart{
        &--disable{
            background-color: #ECE3C2 !important;
        }
    }
}

.steps{
    display: flex;
    height: 80%;
    justify-content: space-between;

    article{
        width: 75%;
        margin-top: 24px;
        height: 100%;
        padding: 16px;
        position: relative;

        article{
            width: 100%;
        }
    }

    .buttons{
        bottom: 0;
        position: absolute;
        padding: 16px;
        right: 0;
    }

    &__result{
        display: flex;
        justify-content: center;

        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            right: auto;
            width: 100%;
            margin: auto 0;
        }
    }

    &__cartList{
        height: 90%;
        overflow: scroll;
    }


}

.resume{
    width: 24.5%;
    height: 100%;
    background-color:white;
    box-shadow: 3px 3px 8px gray;
    padding: 16px;
    margin-top: 24px;



    h1{
        font-size: 24px;
        padding-bottom: 24px;
    }

    p{
        padding-bottom: 12px;

        &:last-of-type{
            padding-top: 24px;

        }
    }

    form{
        width: 100%;
    }

    article{
        width: 100%;
        display: flex;
        height: auto;
    }

    section{
        width: 50%;
    }

}

.cartItem{

    background-color:white;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 8px gray;

    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

@media screen and(max-width: 600px){
    .titles{
        height: auto;
        justify-content: space-evenly;
        section{

            width: 50px;
            height: 50px;
            border-radius: 100px;

            img{
                display: none;
            }

            p{
                display: none;
            }
        }
    }
    .steps{
        flex-direction: column-reverse;

        article{
            width: 100%;
            padding: 0;
        }
    }
    .resume{
        width: 100%;
        height: auto;
        h1{
            padding: 0;
            font-size: 20px;
        }
        section{
            p{
                display: none;
                padding: 0;

                &:last-of-type{
                    display: block;
                    padding: 0;
                }
            }
        }
        
    }

    .cartItem{
        width: 100%;
        font-size: 14px;
        padding: 6px;

        img{
            width: 75px;
            height: 75px;
        }

        h3{
            padding: 5px;
        }

        &__delete{
            padding: 5px;
        }
    }

    .buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button{
            margin-bottom: 7px;
        }
    }
}

@import '_padding.scss';
@import '_navbar.scss';
@import '_filter.scss';
@import '_sort.scss';
@import '_hidden.scss';
@import '_form.scss';
@import '_buttom.scss';