@import 'reset';

header{
    width: auto;
    height: 100vh;
    background-color: #fff000;
}

main{
    width:auto;
    height: 100vh;
    background-color: #00ff00;
}

footer{
    width: auto;
    height: 50vh;
}

