@import '_reset';


header{
    width: auto;
    height: 100vh;
    background-image: url("./../../data/img/bannerHeader.png");
    background-position: center;
    background-size: cover;
    

}


main{
    width:auto;
    height: 100vh;
    background-color: #00ff00;
}

@import '_navbar.scss';
@import '_landing.scss';
@import '_categories.scss';
@import '_footer.scss';
@import '_buttom.scss';
@import '_input.scss';



